*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@import"../bolimlar/header";
@import"../bolimlar/section1";
@import"../bolimlar/section2";
@import"../bolimlar/section3";
@import"../bolimlar/footer";